* h2{
    color:#9e8c6c;
}
li{
    list-style-type: none;
}
.Layaut{
    width: 100%;
    height: auto;
    background-color: #f5f3f0;
    display: flex;
    align-items: center;    
    padding: 120px 0px;
}
.Menu{
    max-width: 1024px;
    height: auto;
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.Menu h3{
    font-size: 100px;
    margin: 0 auto;
}
.Menu .text{
    margin: 0 auto;
}
.Menu img{
    width: 350px;
    height: auto;
}
.Menu .btn{
    background-color:#0699a6;
    padding: 20px;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex; 
}
.box5 .texto-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box6 .texto1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1,.box2,.box3,.box4,.box5,.box6{
    margin-top: 52px;
}
.texto-data h3{
    color: #9e8c6c;
}
.box5 h2{
    color: black;
    font-size: 30px;
}
.box3 .btn{
    text-decoration: none;
    color: #0699a6;
}
.box6 h2{
    color: black;
    font-size: 30px;
}
.box6 .texto1{
    color:#9e8c6c;
}
.coluna2{
    margin-left: 138px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: #f5f3f0;    
}
.menu-footer{
    margin: 0 auto ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu-footer h2{
    font-size: 66px;
    color: black;  
}
.menu-footer .btn{
    text-decoration: none;
    color: #0699a6;
    font-size: 30px;
}

@media screen and (max-width:1024px){
    .container{
        width: 100%;
        flex-direction: column;
    }
    .Layaut{
        width: 100%;
        flex-direction: column;
    }
    .Layaut .Menu{
        width: 100%;
        flex-direction: column;
    }
    .coluna2{
        margin-left: 0px;
    }
    .text h3{
        align-items: center;
        margin: 0 auto;
    }
}

    
