
li{
    list-style-type: none;
}
:root{
    --color-primary: #535353;
    --color-secundary: #353331;
    --color-header-footer:#DDDDDD;
    --color-text:black;
    --color-btn: white;


}
.Layaut{
    width: 100%;
    height: auto;
    background-color: var(--color-header-footer);
    display: flex;
    align-items: center;    
    padding: 120px 0px;
}
.Menu{
    max-width: 1024px;
    height: auto;
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.Menu h3{
    font-size: 100px;
    margin: 0 auto;
}
.Menu .text{
    margin: 0 auto;
    padding: 40px;
}
.Menu img{
    width: 350px;
    height: auto;
}
.Menu .btn{
    background-color:var(--color-primary);
    padding: 15px;
    color: var(--color-btn);
    text-decoration: none;
    display: inline-block;
    font-size: large;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex; 
}
.box5 .texto-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box5 .Experience{
    background-color: var(--color-primary);
    padding: 20px;
    font-size: large;
    color: var(--color-btn);
}
.box6 .texto1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1,.box2,.box3,.box4,.box5,.box6{
    margin-top: 52px;
}
.texto-data h3{
    color: var(--color-secundary);
}
.box5 h2{
    color: var(--color-text);
    font-size: 30px;
}
.box3 .btn{
    text-decoration: none;
    color: var(--color-primary);
}
.box6 h2{
    color: var(--color-primary);
    font-size: 30px;
}
.box6 .texto1{
    color:var(--color-secundary);
}
.coluna2{
    margin-left: 138px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: var(--color-header-footer);    
}
.menu-footer{
    margin: 0 auto ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu-footer h2{
    font-size: 66px;
    color: var(--color-primary);  
}
.menu-footer .btn{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 30px;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width:1024px){
    .container{
        width: 100%;
        flex-direction: column;
    }
    .Layaut{
        width: 100%;
        flex-direction: column;
    }
    .Layaut .Menu{
        width: 100%;
        flex-direction: column;
    }
    .coluna2{
        margin-left: 0px;
    }
    .text h3{
        align-items: center;
        margin: 0 auto;
    }
}

    
